<<div class="card">

    <div class="card-header">
        <h1>Sign In</h1>
    </div>
<div class="card-body">

<%= form_with url: sign_in_path do |f| %>
<div class="mb-3">
        <%= f.label :email%>
        <%= f.text_field :email, class:'form-control', placeholder: 'jimmy.smith@example.com' %>
      </div>
      <div class="mb-3">
      <%= f.label :password%>
        <%= f.password_field :password, class:'form-control', placeholder: 'password' %>
      </div>

         <div class="mb-3">
        <%= f.submit 'Sign In',  class:"btn btn-primary" %>
      </div>


<%end%>
  </div>
</div>
